.bg-img{
    background-image: url('./images/bg-masthead.jpg');
    width: 100vw;
    height: 100vh;
}
.stylish{
    font-size: 80px;
}
.bg-icon{
    width: 10rem;
    height: 10rem;
    background-color: #fff;
}
.bg-img2{
    background-image: url('./images/bg-callout.jpg');
    width: 100vw;
    height: 70vh;
}
.bg-img3{

}

.bg-img4{
 
}
.position-absolute{
    position: absolute;
    top: 60%;
    left: 10%;
}